.control-slider {
  text-align: center;
  cursor: ew-resize;
  background-color: #d1d1d14a;
  transition: 0.3s;
  padding: 1em;
  margin: 0.2em;
  user-select: none;
  color: #fff;
  border-radius: 2px;
  width: calc(100% - 0.4em);
  opacity: 0.3;
  box-shadow: 0px 4px 6px 3px #00000040;
  & i {
    pointer-events: none;
  }
  &:hover {
    box-shadow: none;
    opacity: 1;
    &.x i {
      color: rgb(255, 0, 0);
    }
    &.y i {
      color: rgb(0, 255, 0);
    }
    &.z i {
      color: rgb(0, 0, 255);
    }
  }
}
