@import '../../../lib.less';

.icon {
  height: 1.5em;
  margin: 0 1em;
  display: inline-block;
  position: relative;
  top: 6px;
  fill: @primary-color;
  color: @primary-color;
  svg {
    height: 1.5em;
  }
}

.search-menu {
  .card();
  min-width: 400px;
  width: auto;
  transition: with 0.3s ease-in-out;
  position: absolute;
  display: flex;
  & > .ant-collapse-borderless {
    flex-grow: 1;
  }
  .handle {
    cursor: grab;
    background-color: #0000001f;
    height: auto;
    width: 1em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: @primary-color;
    }
  }
  .title {
    text-align: center;
    color: @text-color-secondary;
    margin: 0;
  }
  .body {
    max-height: 700px;
    overflow-y: scroll;
    .search {
      padding: 1em 0;
    }
    .list {
      max-height: 50vh;
      overflow-y: scroll;
      background-color: #ffffff50;
      border-radius: 2px;
      padding: 1em;
    }
  }
  .ant-menu-item {
    border-radius: 2px;
    &:hover {
      background-color: #ffffff10;
    }
    &:active,
    &.ant-menu-item-selected {
      background-color: #ffffff30 !important;
    }
  }
}
